{
  "tabWidth": 4,
  "semi": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [".prettierrc", "*.config.js", "*.config.cjs", "*.json", "*.md", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
